$app-height: 516px;
$app-width: 580px;
$gutter: 36px;

$font-main:
    'Open Sans',
    helvetica,
    arial,
    sans-serif;

$font-heading:
    'Oswald',
    georgia,
    serif;

$color-font: #222;
$color-white: #fff;
$color-heading: #4d5359;
$color-tabs: #9fa5ab;
$color-background: #FCFCFF;
$color-background-dark: #cccfca;
$color-button: rgba(57, 160, 237, 0.5);
$color-button-pressed: rgba(57, 160, 237, 1);
$color-item: rgba(242, 84, 91, 0.5);
$color-item-border: rgba(242, 84, 91, 1);
$color-sub: #00985f;

$transition: 250ms ease-in-out;
